[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-multipart = "*"
sqlalchemy = "*"
pydantic-settings = "*"
elevenlabs = "*"
pypdf = "*"
aiofiles = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
ruff = "*"
httpx = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
